.wrapper {
  background: rgb(38, 119, 6);
  background-image: url('https://wallpapermemory.com/uploads/796/it-s-always-sunny-in-philadelphia-background-hd-2560x1440-344733.jpg');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}